
  <!--<div id="<%= dom_id friend %>">
    <p>
      <strong>First name:</strong>
      <%= friend.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= friend.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= friend.email %>
    </p>

  </div>


<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name.</th>
        <th scope="col">Last name.</th>
        <th scope="col">Email.</th>
      </tr>
    </thead>
    <tbody>
  -->
    

  <!--
  </tbody>
  </table>
</div>
-->